Port 22
PermitRootLogin yes
PasswordAuthentication yes
PubkeyAuthentication no
PermitEmptyPasswords yes
ChallengeResponseAuthentication no
UsePAM no
ListenAddress 0.0.0.0
Subsystem sftp /usr/lib/openssh/sftp-server
